@media screen and (max-width: 500px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 12px 25px;
    margin-top: 0;
  }
}

@media screen and (max-width: 657px) {
  .nav-list ul li a{
    font-size: 14px;
    text-align: center;
  }

  .header h1{
    font-size: 30px;
  }
  .katalog{
      margin-top: 18%;
  }
}

@media screen and (max-width: 500px) {
  .katalog {
    margin-top: 25%;
  }
  .nav-list {
    display: none;
    flex-direction: column;
    background-color: rgb(67, 84, 114);
    padding: 10px;
    position: absolute;
    top: 50px;
    width: 100%;
    height: auto;
    right: 8px;
    border-radius: 5px;
    z-index: 9; 
    font-size: 12px;
    -webkit-transform: translate(100%, 0);
    transform: translate(-200%, 0);
  }

  .nav-list.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    transition: transform 0.3s ease;
    display: flex;
    top: 75px;
    right: 0;
    text-align: center;
    font-size: 12px;
    max-height: max-content;
  }

  .reviews {
    grid-template-columns: 1fr;
  }

}

@media screen and (max-width: 375px) {
  .restaurants, .reviews {
    grid-template-columns: 1fr;
  }

  .header_title h1, .nav-list, .header__menu, .post_review_title, .reviews-title, .name_customer {
    display: flex;
    font-size: 18px;
    padding: 14px;
    
  }

  .katalog_label {
    font-size: 20px;
    font-weight: lighter;
  }
  .katalog{
    margin-top: 25%;
  }

  .post-item a, .post-item_content, .post-item_rating, .post-item_city, footer p, .post_review, label, input.btn-submit, .review_customer, .review_date, .nav-list {
    font-size: 12px;
  }

  .resto-info_menu {
    line-height: 44px;
    margin-top: 0px;
    color: #fff;
    text-decoration: none;
  }

  .header__menu {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 14px;
    z-index: 11;
    cursor: pointer;
    min-height: 44px;
  }

  a, button, input[type=text], textarea {
    min-width: 44px;
    min-height: 44px;
  }

  .post_detail, .post-item, .resto-info{
    font-size: 12px;
    border-radius: 8px;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    background-color: rgb(67, 84, 114);
    padding: 10px;
    position: absolute;
    top: 50px;
    width: 100%;
    border-radius: 0 0 5px 5px;
    height: auto;
    right: 8px;
    border-radius: 5px;
    z-index: 9; 
    font-size: 12px;
    -webkit-transform: translate(100%, 0);
    transform: translate(-200%, 0);
  }

  .nav-list.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    transition: transform 0.3s ease;
    display: flex;
    font-size: 12px;
    top: 60px;
    right: 0;
    text-align: center;
    max-height: max-content;
  }

  .resto-info_name, .post_review_title label{
    font-size: 18px;
  }
  }


@media screen and (min-width: 501px) {
  .header__menu {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  #restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  main {
    max-width: 1200px;
  }

  .hero {
    min-width: 1000px;
  }
}

